@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light');


body{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    margin-bottom: 140px;
}

.base-img { 
   
    background-image:  url("../img/iceblue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
        }
/*--------------------------------------------------------------------------*/
/*------------------------------------------------------------Logo & Nav Bar*/

nav {position: relative;
    padding: 50px 20px 200px 20px;
    top: 0;
   }

.logo{
    float: left;
       }

.logo-title {
    font-family: "Shadows Into Light", sans-serif;
     font-size: 100px;
     letter-spacing: 2px;
    color: #FF3B3F;
    line-height: 1;
}

.logo-base a:hover {
    text-decoration: none;

}
   
.logo-title-strong {
   
    font-family: "Shadows Into Light", sans-serif;
    letter-spacing: 2px;
     color: #FF3B3F;
     line-height: 0.75;
    font-weight: bolder;
    font-size: 120px;
        }

 
nav .nav-wrapper ul li a {
    float: right;
    text-decoration: none;
    list-style: none;
}

.nav-wrapper ul li a:hover{
    color: #252525; 
    opacity: 0.7;
    transition: 1s;
    text-shadow: 2px 4px 8px #FF0000;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
   padding: 25px 0;
}



nav ul li:not(:first-child){
    margin-left: 48px;
    }

    nav ul li:last-child{
    margin-right: 28px;
    }

nav ul li a {
    display: inline-block;
    color: #FF3B3F;
    font-family: "Shadows Into Light", sans-serif;
     font-size: 40px;
     font-weight: bold;
     letter-spacing: 2px;
}










/*----------------------------------------------------------------------*/
/*-----------------------------------------------------------Media Query*/

@media screen and (max-width: 993px) {
    nav {
        padding: 10px 10px;
    }
    .logo
    {
        padding: 20px 15px;
    }
    .logo-title {
        font-size: 55px;
    }
     .logo-title-strong {
        font-size: 70px;
    }
nav ul li{
    padding: 12px 5px;
}

    nav ul li a {
        font-size: 35px;
            }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #CAEBF2;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease;
    }        

     .nav-wrapper ul{
         position: absolute;
         top: 30%;
         transform: translateY(-50%);
         
     }


     /*--------------------------------------------^^^^ width:100%; Bug to check
    }        
    */
    .nav-wrapper ul li {
        display: block;
        width: 100%;
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }
/*-------------------------------------------------------------------------*/
/*--------------------------------------------------------Drop-down Sequence*/

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.6s;
    }

   nav ul li:not(:first-child){
    margin-left: 0;
    }    

.nav-wrapper ul li a {
    padding: 10px 22px;
    color: #FF3B3F;
    font-weight: 14px;
    letter-spacing: 1.2px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
}

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 48px;
        height: 48px;
        display: block;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-btn i {
        display: block;
        width: 40px;
        height: 3px;
        background: #FF3B3F;
        border-radius: 2px;
        margin-left: 5px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 24px;
    }
    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

}
/*-------------------------------------------------------------------------*/
/*----------------------------------------------------------BurgerIcon setting*/

#nav:checked + .nav-btn{
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
    background: #FF3B3F;
    transition: all 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(7px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
    opacity:0;
}
#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-7px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
    }


/*-------------------------------------------------------------*/
/*--------------------------------------index page image & text*/
.intro-container {
    display: flex;
    width: 100%;
    height: 600px;
    
}

.img-box {
    background-image: url("../img/fever-ray-fb.jpg");
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 10%;
      
}

.text-col {
    padding: 15px;
    height: 80%;
}

.text-col h4 {
    font-family: "Architects Daughter", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #ff3b3f;
    text-shadow: 1px 2px 2px #000;
    letter-spacing: 1.4px;
    margin-left: 20px;
}

.intro-text {
    font-size: 18px;
    margin: 10px 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ff3b3f;
    text-align: justify;
}

.glry-btn {
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bolder;
    background: #333333;
    color: #A9A9A9;
    width: 120px;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #FF3B3F;
   align-content: center;
    margin-left: 20px;
}
/*--------------------------------------------------------Spotify link for Mobile Only*/

.sptfy-1 {
    position: absolute;
       display: none;
       padding: 8px;
       top: 90px;
}      
/*-----------------------------------------------------------End-spotify*/

/*-------------------------------------------------------------*/
/*-------------------------------------------------Footer area*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 125px;
    border-top: 10px solid #ff3b3f;
    text-align: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    
          }

.diag-left {
      background-image: linear-gradient(45deg, #A9A9A9 50%, #FF3B3F 50%);
}
.diag-right {
    background-image: linear-gradient(135deg, #ff3b3f 50%, #a9a9a9 50%);
}
.center-ftr {
    width: 100%;
    background-color:  #FF3B3F;
}

.tagline {
    color: #fff;
    text-transform: uppercase;
     font-family: "Architects Daughter", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.tagline a {
    color: #eee2dc;
   
}

.social-icons i {
   font-size: 28px;
  color:#eee2dc;
   text-decoration: none; 
   line-height: 2;
   
}
.social-icons a:hover{
    transition: ease;
    opacity: 0.5;
    transition-duration: 1s;
    -moz-transition: ease 1s;
    -webkit-transition: ease 1s;
    -o-transition: ease 1s;
 }

.social-icons a{
    text-decoration: none;
     }




/*--------------------------------------Gallery page image & text*/
.glry-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    height: 450px;
    width: 450px;
    background-color: #313333;
    transform: scale(0.7);
    border-radius: 8px;
    box-shadow: 0 0 80px 1px #FF3B3F;
    }

.info {
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;

}

.artist {
    font-family: "Architects daughter", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: #CAEBF2;
    text-shadow: 0px 0px 2px #FF0000;
    position: absolute;
    top: 100px;
    letter-spacing: 3px;
}

.country {
    font-size: 25px;
   font-family:  Arial, Helvetica, sans-serif;
    color: #FF3B3F;
    position: absolute;
    top: 150px;
}

.divider {
    background-color:#FF3B3F;
    height: 1.5px;
    width: 50px;
    position: absolute;
    top: 190px;
}

.more {
    position: absolute;
    top: 220px;
    color: #CAEBF2;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
   
}

.card-btn {
    position: absolute;
    bottom: 30px;
    background-color: #FF3B3F;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 13px 25px; 
    cursor: pointer;
    color: #00008f;
}

/*-------------------------------------------------------------------*/
/*--------------------------------------------List of Gallery Photos*/
.pic1 {
    height: 100%;
    width: 100%;
    background-image: url("../img/agnes_obel1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic1 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}


.pic2 {
    height: 100%;
    width: 100%;
    background-image: url("../img/ane_brun2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic2 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic3 {
    height: 100%;
    width: 100%;
    background-image: url("../img/elperrodelmar2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic3 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic4 {
    height: 100%;
    width: 100%;
    background-image: url("../img/fever_ray3.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic4 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic5 {
    height: 100%;
    width: 100%;
    background-image: url("../img/hannehukkelberg2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic5 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic6 {
    height: 100%;
    width: 100%;
    background-image: url("../img/jennie_abrahamson1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic6 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic7 {
    height: 100%;
    width: 100%;
    background-image: url("../img/ninakinert2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic7 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}


.pic8 {
    height: 100%;
    width: 100%;
    background-image: url("../img/olivera1a.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic8 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}


.pic9 {
    height: 100%;
    width: 100%;
    background-image: url("../img/stina_nordenstam2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic9 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic10 {
    height: 100%;
    width: 100%;
    background-image: url("../img/susannesundfor2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic10 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}


.pic11 {
    height: 100%;
    width: 100%;
    background-image: url("../img/tina_dico2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic11 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}

.pic12 {
    height: 100%;
    width: 100%;
    background-image: url("../img/silje_nes1.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom:0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: 1s;
}


.card:hover .pic12 {
    transform: scale(0.5, 0.35) translateY(-650px);
    border-radius: 40%;
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------- End List of Gallery Photos*/

.card a {
    position: absolute;
    bottom:-70px;
    font-size: 25px;
    color: #ff3b3f;
    background: #CAEBF2;
    width: 100%; 
    padding: 12px 0;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

/*--------------------------------------------------------------Tablet Screen*/
@media screen and (max-width: 993px) {
.front-img {
    float: left;
    background: url("../img/fever-ray-fb.jpg");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 30%;
    border: 1px solid #FF0000;
    padding: 50px;
    margin: 70px 70px 20px 20px;
      }

}
/*--------------------------------------------------------------Small Screen*/
@media screen and (max-width: 400px) {
    nav {
        padding: 0;
    }

.logo{
    padding: 25px 25px;
}

    .logo-title {
        font-size: 30px;
    }
     .logo-title-strong {
        font-size: 40px;
    }

    nav ul li a {
        font-size: 23px;
    }

    .img-box {
       display: none;
    }

    .text-col h4 {
        font-size: 15px;
    }

    .text-col .intro-text {
        font-size: 14px;
        }

    .glry-btn {
        font-size: 10px;
    }
    .sptfy-1 {
        display: block;
        align-content: center;
        padding-left: 20px;
    }

   
    .diag-left {
        display: none;
        }
    .diag-right {
        display: none;
    }    

     footer {
        position: absolute;
        height: 12vh;
        bottom: 0;
        }

    .tagline {
        font-size: 10px;
        letter-spacing: 2px;
    }
    .social-icons i {
        font-size: 14px;
        line-height: 1.2;
}

}



